
 
 header{
     border-bottom: 3px solid black;
     
 }

 .img{
    border: black solid;
}

.center{
    text-align: center;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
}


.box{
    width: 210px;
    display: block;
    margin:auto;
    text-align: left;
}

#price{
    width: 200px;
    display: inline;
    margin:auto;
    text-align: left;
    padding: 14px;
}

/*Inspiration from https://www.youtube.com/watch?v=8cExRlT--Zc */

.select{

    width: 210px;
    padding: 5px 10px;
    display: block;
    margin:auto;
    text-align: left;
    border: 2px solid black;
    cursor:pointer;
     
}

button{
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    border: black solid 3px;
    padding: 10px;
    width: 150px;;
    display:inline;


}

a:link {
    text-decoration: none;
}

a{
    color:black;
 }